{#{% extends 'StudentHub/Blueprint.html' %}#}
{##}
{#{% block content %}#}
    {#    <h2>{% title %}</h2>#}
{#    <style>#}
{#        #addpost{#}
{#            float: right !important;#}
{#            font-size: 25px !important;#}
{#            font-weight: bolder;#}
{#            text-decoration: none;#}
{#            border-left: 3px solid black;#}
{#            border-bottom: 3px solid black;#}
{#            height: 30px;#}
{#            width: 30px;#}
{#            text-align: center;#}
{#        }#}
{#    </style>#}
{#    <div style="border: 3px solid cadetblue">#}
{#        <div style="padding-top: 8px; padding-right: 8px">#}
{#            <a href="{% url 'addpost' slug %}"  id="addpost">+</a>#}
{#        </div>#}
{#        <h2>{{ activity }}</h2>#}
{#        {% for x in dataList %}#}
{#            <div style="padding: 8px 16px;">#}
{#                <div style="border: 2px solid black;">#}
{#                    <div style="float: top">#}
{#                        <h2 style="float: left">title={{ x.title }} author={{ x.author }} activity={{ slug }}</h2>#}
{#                        <div style="float: right">#}
{#                            <a>Edit</a>#}
{#                            <a href="delete/{{ x.id }}/">Delete</a>#}
{#                            <a href="chat/{{ x.id }}/">Chat</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <h2>description={{ x.description }}</h2>#}
{#                    <h2>id={{ x.id }}</h2>#}
{#                    <div style="float: bottom;">#}
{#                        <h2 style="float: left">end={{ x.date_end }}</h2>#}
{#                        <h2 style="float: right">publ={{ x.date }}</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'StudentHub/Blueprint.html' %}

{% block content %}
    {#    <h2>{% title %}</h2>#}
    <style>
        #addpost{
            float: right !important;
            font-size: 25px !important;
            font-weight: bolder;
            text-decoration: none;
            {#border-left: 3px solid black;#}
            {#border-bottom: 3px solid black;#}
            height: 30px;
            width: 30px;
            text-align: center;
        }
    </style>
    <div class="w3-bottombar">
        {% if activity != 'contact'%}
        <div style="padding-top: 8px; padding-right: 8px">
            <a class="w3-text-gray w3-hover-text-black" href="{% url 'addpost' slug %}"  id="addpost"><h1>+</h1></a>
        </div>
        <h2 class="w3-margin-left" style="color:dimgray">Available {{ activity }}:</h2>
            {% if dataList %}
                {% for x in dataList %}
                    <div style="padding: 8px 16px;">
        {#                <h1>{% if '/parties/' == request.path %}test{% endif %}</h1>#}
                        <div class="w3-display-container w3-hover-border-dark-gray" style="border-style: solid;border-width: 2px;border-color:gray; height:300px;">
                            <div class="w3-display-topright">
                                {% if request.user.username == x.author or checkPermission %}
                                    <a href="edit/{{ x.id }}">Edit</a>
                                    <a href="delete/{{ x.id }}/">Delete</a>
                                {% endif %}
                                <a href="chat/{{ x.id }}/">Chat</a>

                            </div>
                            <div style="margin-left:5px">
                                <h1 style="margin-top:-10px">{{ x.title }}</h1>
                                <h4 style="margin-bottom:30px;margin-top:-10px">{{ x.author }} <!--activity={{ slug }}--></h4>
                                <h3 >Description:</h3>
                                <h4 style="margin-left:20px;margin-top:-10px">{{ x.description }}</h4>
                            </div>
                            <!--<h4>id={{ x.id }}</h4>-->
                            <h4 class="w3-display-bottomleft" style="margin-left: 5px">Ending: {{ x.date_end }}</h4>
                            <h4 class="w3-display-bottomright" style="margin-right: 5px">Published: {{ x.date }}</h4>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="w3-margin-left" style="color:dimgray">No data found.</h2>
            {% endif %}
        {% else %}
            <h2 class="w3-margin-left" style="color:dimgray">Who we are:</h2>
            <h3 class="w3-margin-left">GooseDuck Inc. SRL</h3>
            <h4 class="w3-margin-left">As a brand new startup, our company wants to bring people closer together through technology.</h4>
        {% endif %}
    {% if activity == 'contact' %}
        <a class="w3-button" href="{% url 'contact_dev' %}">Contact Dev</a>
        {% for x in devList %}
            {% if user == x.full_name %}
                {% for y in questionList %}
                <div class="w3-display-container w3-hover-border-dark-gray" style="border-style: solid;border-width: 2px;border-color:gray; height:300px;">
                    <div style="margin-left:5px">
                        <h1 style="margin-top:-10px">{{ y.title }}</h1>
                        <h4 style="margin-bottom:30px;margin-top:-10px">{{ y.user_id }} <!--activity={{ slug }}--></h4>
                        <h3 >Description:</h3>
                        <h4 style="margin-left:20px;margin-top:-10px">{{ y.message }}</h4>
                    </div>
                    <!--<h4>id={{ x.id }}</h4>-->
                    <h4 class="w3-display-bottomright" style="margin-right: 5px">Published: {{ y.date }}</h4>
                </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}