{#{% extends 'StudentHub/Blueprint.html' %}#}
{##}
{#{% block content %}#}
    {#    <h2>{% title %}</h2>#}
{#    <style>#}
{#        #addpost{#}
{#            float: right !important;#}
{#            font-size: 25px !important;#}
{#            font-weight: bolder;#}
{#            text-decoration: none;#}
{#            border-left: 3px solid black;#}
{#            border-bottom: 3px solid black;#}
{#            height: 30px;#}
{#            width: 30px;#}
{#            text-align: center;#}
{#        }#}
{#    </style>#}
{#    <div style="border: 3px solid cadetblue">#}
{#        <div style="padding-top: 8px; padding-right: 8px">#}
{#            <a href="{% url 'addpost' slug %}"  id="addpost">+</a>#}
{#        </div>#}
{#        <h2>{{ activity }}</h2>#}
{#        {% for x in dataList %}#}
{#            <div style="padding: 8px 16px;">#}
{#                <div style="border: 2px solid black;">#}
{#                    <div style="float: top">#}
{#                        <h2 style="float: left">title={{ x.title }} author={{ x.author }} activity={{ slug }}</h2>#}
{#                        <div style="float: right">#}
{#                            <a>Edit</a>#}
{#                            <a href="delete/{{ x.id }}/">Delete</a>#}
{#                            <a href="chat/{{ x.id }}/">Chat</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <h2>description={{ x.description }}</h2>#}
{#                    <h2>id={{ x.id }}</h2>#}
{#                    <div style="float: bottom;">#}
{#                        <h2 style="float: left">end={{ x.date_end }}</h2>#}
{#                        <h2 style="float: right">publ={{ x.date }}</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'StudentHub/Blueprint.html' %}

{% block content %}
    {#    <h2>{% title %}</h2>#}
    <style>
        #addpost{
            float: right !important;
            font-size: 25px !important;
            font-weight: bolder;
            text-decoration: none;
            {#border-left: 3px solid black;#}
            {#border-bottom: 3px solid black;#}
            height: 30px;
            width: 30px;
            text-align: center;
        }
    </style>
    <div class="w3-bottombar">
        <div style="padding-top: 8px; padding-right: 8px">
            <a class="w3-text-gray w3-hover-text-black" href="{% url 'addpost' slug %}"  id="addpost"><h1>+</h1></a>
        </div>
        <h2 class="w3-margin-left" style="color:dimgray">Available {{ activity }}:</h2>
        {% for x in dataList %}
            <div style="padding: 8px 16px;">
                <div class="w3-display-container w3-round w3-hover-border-black" style="border-style: solid;border-width: 2px;border-color:gray; height:300px;">
                    <div class="w3-display-topright">
                        <a>Edit</a>
                        <a href="delete/{{ x.id }}/">Delete</a>
                        <a href="chat/{{ x.id }}/">Chat</a>
                    </div>
                    <h3 class="w3-display-topleft">Title: {{ x.title }}</h3>
                    <div  class="w3-display-left w3-display-container" style="height:60%; width:100%">
                        <h4 class="w3-display-topleft" style="margin-bottom:30px">Author: {{ x.author }} <!--activity={{ slug }}--></h4>
                        <p class="w3-display-left">Description:</p>
                        <p class="w3-display-bottomleft">{{ x.description }}</p>
                    </div>
                    <!--<h4>id={{ x.id }}</h4>-->
                    <div class="w3-display-bottommiddle w3-display-container w3-margin-bottom" style="width:100%">
                        <h4 class="w3-display-left">Ending: {{ x.date_end }}</h4>
                        <h4 class="w3-display-right">Published: {{ x.date }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}