<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .w3-sidebar a {font-family: "Roboto", sans-serif}
        body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    </style>
</head>
<body class="main-content" style="max-width: 1200px; margin-left: auto; margin-right: auto">
<center  class="w3-right-align w3-text-dark-grey w3-margin-right"><h1>User: {{ request.user }}</h1></center>
{% if request.user.is_authenticated %}
    <center class="w3-right-align w3-margin-right"><a href="{% url 'logout-user' %}">Logout</a></center>
{% endif %}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-dark-grey w3-collapse w3-top w3-animate-left" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-grey w3-display-container w3-padding-16">
        <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
        <h3 class="w3-wide"><b>Student's Hub</b></h3>
    </div>
    <div class="w3-padding-32 w3-large w3-text-white" style="font-weight:bold">
{#        <a onclick="url_parsing('parties')"  class="w3-bar-item w3-button" id="parties">Parties</a>#}
{#        <a onclick="url_parsing('jobs')" class="w3-bar-item w3-button" id="jobs">Jobs</a>#}
{#        <a onclick="url_parsing('events')"  class="w3-bar-item w3-button" id="events">Events</a>#}
{#        <a onclick="url_parsing('meets')"  class="w3-bar-item w3-button" id="meets">Meets</a>#}
{#        <a onclick="url_parsing('ideas')" class="w3-bar-item w3-button" id="ideas">Ideas</a>#}
        <h2 class="w3-wide w3-border-bottom w3-margin-left">Activities</h2>
        <a href="{% url 'activity' 'parties' %}"  class="{% if activity == 'parties'%}w3-light-grey{% endif %} w3-bar-item w3-button" id="parties">Parties</a>
        <a href="{% url 'activity' 'jobs' %}" class="{% if activity == 'jobs'%}w3-light-grey{% endif %} w3-bar-item w3-button" id="jobs">Jobs</a>
        <a href="{% url 'activity' 'events' %}"  class="{% if activity == 'events'%}w3-light-grey{% endif %} w3-bar-item w3-button" id="events">Events</a>
        <a href="{% url 'activity' 'meets' %}"  class="{% if activity == 'meets'%}w3-light-grey{% endif %} w3-bar-item w3-button" id="meets">Meets</a>
        <a href="{% url 'activity' 'ideas' %}" class="{% if activity == 'ideas'%}w3-light-grey{% endif %} w3-bar-item w3-button" id="ideas">Ideas</a>

{#        <a href="jobs/" class="w3-bar-item w3-button">Jobs</a>#}
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-dark-grey w3-button w3-block w3-white w3-left-align" id="myBtn">
            Drop down <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-show">
            <a href="#" class="w3-dark-grey w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
            <a href="#" class="w3-bar-item w3-button">Relaxed</a>
            <a href="#" class="w3-bar-item w3-button">Bootcut</a>
            <a href="#" class="w3-bar-item w3-button">Straight</a>
        </div>
{#        <a href="meets/" class="w3-bar-item w3-button">Meets</a>#}
{#        <a href="ideas/" class="w3-bar-item w3-button">Ideas</a>#}
        {#            <a href="#" class="w3-bar-item w3-button">Blazers</a>#}
        {#            <a href="#" class="w3-bar-item w3-button">Shoes</a>#}
    </div>
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-gray w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">Student's Hub</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-light-grey" style="margin-left:250px; margin-top:27px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <div class="w3-container w3-xlarge w3-margin-top">
        <h1 class="w3-wide" style="color: dimgray">Current Topics</h1>
    </div>

    <!-- Image header -->
    <div class="w3-display-container w3-container">
        {#            <img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%">#}
        <div  class="w3-bottombar">
            {#                <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>#}
            {#                <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>#}
            {#                <h1 class="w3-hide-small">COLLECTION 2016</h1>#}
            {#                <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>#}
            <h2 class="w3-left-align" style="color: dimgray; font-weight: bold">Explore</h2>
        </div>
        {% block content%}
        {% endblock %}

    </div>
</div>

<script>
    // Accordion
    function myAccFunc() {
        var x = document.getElementById("demoAcc");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // Click on the "Jeans" link on page load to open the accordion for demo purposes
    document.getElementById("myBtn").click();


    // Open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    function url_parsing(option){
        if(window.location.port)
            document.getElementById(option).setAttribute("href", window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/" + option + "/");
        else
            document.getElementById(option).setAttribute("href", window.location.protocol + "//" + window.location.hostname + "/" + option + "/");
    }
</script>
</body>
</html>