{% extends 'StudentHub/Blueprint.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'StudentHub/chatbox.css' %}">

    <div
            class='chat__item__container'
            id='id_chat_item_container'
            style='font-size: 20px'
    >
        <h1 class="w3-wide" style="color: dimgray">
            {{ title }}
        </h1>
        <br />
        <input type="text" id="id_message_send_input" />
        <button type="submit" id="id_message_send_button">Send Message</button>
        <br />
        <br />
        <div id="id_chat_scroll" class="w3-sidebar w3-label w3-light-gray" style="max-height: 45%;width: 950px;margin-left:-16px">
            {% if messageList %}
                {% for x in messageList %}
                    {#                <h2>{{ x.id }} {{ x.messageText }} {{ x.user }} {{ x.subject }} {{ x.room_id }}</h2>#}
                    {% if x.user == request.user.username %}
                        <div class="dialog-2 w3-dark-gray">
                            <h6>{{ x.user }}</h6>
                            <h2>{{ x.messageText }}</h2>
                        </div>
                    {% else %}
                        <div class="dialog-1 w3-gray">
                            <h6>{{ x.user }}</h6>
                            <h2>{{ x.messageText }}</h2>
                        </div>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
    <script>
        /*let url_parse= window.location.toString();
        if (window.location.protocol != null){
            try {
                url_parse = url_parse.replace((window.location.protocol.toString() + '//'), '');
            }catch (error){
                console.error(error);
            }
        }*/

        document.querySelector('#id_chat_scroll').scrollTop = document.querySelector('#id_chat_scroll').scrollHeight;

        console.log('url= ' + 'ws://' + window.location.host + '/ws' + window.location.pathname);
        {#if(window.location.port)#}
        {#    document.getElementById(option).setAttribute("href", window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/" + option + "/");#}
        {#else#}
        {#    document.getElementById(option).setAttribute("href", window.location.protocol + "//" + window.location.hostname + "/" + option + "/");#}
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws' + window.location.pathname);
        chatSocket.onopen = function (e){
            console.log('The connection was setup successfully!');
        };
        chatSocket.onclose = function (e){
            console.log('Something unexpected happened!');
        };
        document.querySelector('#id_message_send_input').focus();
        document.querySelector('#id_message_send_input').onkeyup = function (e){
            if(e.keyCode == 13){
                document.querySelector('#id_message_send_button').click();
            }
        };
        document.querySelector('#id_message_send_button').onclick = function (e){
            var messageInput = document.querySelector('#id_message_send_input').value;
            chatSocket.send(JSON.stringify({message: messageInput, username : '{{ request.user.username }}', section:'{{ section }}', room_id:'{{ room_id }}'}))
        };

        chatSocket.onmessage = function (e){
            const data = JSON.parse(e.data);
            /*var div = document.createElement('h2');
            div.innerHTML = data.username + ' : ' + data.message + ' : ' + data.section + ' : ' + data.room_id;
            if(data.username == '{{ request.user.username }}') {
                div.style.right = '0px';
                div.style.textAlign = 'right';
            }*/
            var messFragment = document.createDocumentFragment();
            var docFragment = document.createDocumentFragment();
            //messFragment.appendChild(docFragment);
            var div = document.createElement('div');
            var h6 = document.createElement('h6');
            var h2 = document.createElement('h2');

            if(data.username == '{{ request.user.username }}') {
                div.classList.add("dialog-2");
                div.classList.add("w3-dark-gray");
            }
            else{
                div.classList.add("dialog-1");
                div.classList.add("w3-gray");
            }
            h6.innerHTML= data.username;
            h2.innerHTML= data.message;
            var br = document.createElement('h3');
            br.innerHTML='<br><br><br>';
            docFragment.appendChild(div);
            docFragment.appendChild(br);

            div.appendChild(h6);
            div.appendChild(h2);

            document.querySelector('#id_message_send_input').value='';
            document.querySelector('#id_chat_scroll').append(docFragment);
            document.querySelector('#id_chat_scroll').scrollTop = document.querySelector('#id_chat_scroll').scrollHeight;
        };
    </script>
{% endblock %}
