{% extends 'StudentHub/Blueprint.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="save/" method="post">
        {% csrf_token %}
        Title:<br>
        <input name="title">
        <br>
        Message:<br>
        <textarea name="message"></textarea>
        <br>
        <label for="devs">Choose a developer:</label>
        <select name="developer" id="devs" required>
            {% for x in devList %}
                <option>{{ x.username }}</option>
            {% endfor %}
        </select>
        <br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}