{% extends 'StudentHub/Blueprint.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message1 in messages %}
                <li>{% if message1.tags %} {% endif %} {{ message1 }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form class="w3-wide" style="margin-left: 20px;margin-top: 10px;color: dimgray" action="save/" method="post"><h4>
        {% csrf_token %}
        Title:<br>
        <input name="title">
        <br>
        Message:<br>
        <textarea name="message"></textarea>
        <br>
        <label for="devs">Choose a developer:</label>
        <select name="developer" id="devs" required>
            {% for x in devList %}
                <option>{{ x.full_name }}</option>
            {% endfor %}
        </select>
        <br>
        <br><br>
        <input class="w3-button w3-large" style="margin-left: 815px;" type="submit" value="Submit">
    </h4>
    </form>
{% endblock %}