{% extends 'StudentHub/Blueprint.html' %}

{% block content %}
    {% load static %}
    <h2 class="w3-text-dark-gray">A melding pot for exchange and interchange!</h2>


    <div class="w3-row-padding w3-margin-top">
        <div class="w3-third">
            <div class="w3-card">
                <a href="{% url 'activity' 'contact' %}">
                    <img src="{% static 'StudentHub/LobbyImages/students1.png' %}" style="width:100%">
                </a>
                <div class="w3-container">
                    <h5>Contact</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <a href="{% url 'activity' 'parties' %}">
                <img src="{% static 'StudentHub/LobbyImages/students2.png' %}" style="width:100%">
                </a>
                <div class="w3-container">
                    <h5>Parties</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <a href="{% url 'activity' 'jobs' %}">
                    <img src="{% static 'StudentHub/LobbyImages/students3.png' %}" style="width:100%">
                </a>
                <div class="w3-container">
                    <h5>Jobs</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="w3-third">
            <div class="w3-card">
                <a href="{% url 'activity' 'events' %}">
                    <img src="{% static 'StudentHub/LobbyImages/students4.png' %}" style="width:100%">
                </a>
                <div class="w3-container">
                    <h5>Events</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <a href="{% url 'activity' 'meets' %}">
                    <img src="{% static 'StudentHub/LobbyImages/students5.png' %}" style="width:100%">
                </a>
                <div class="w3-container">
                    <h5>Meets</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <a href="{% url 'activity' 'ideas' %}">
                    <img src="{% static 'StudentHub/LobbyImages/students6.png' %}" style="width:100%">
                </a>
                <div class="w3-container">
                    <h5>Ideas</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}